.list-box {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 16px;
    
}

/* Default: Extra-small devices such as small phones (less than 640px) */
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 320px) {
 

    .button-list-connection {
        position: absolute;
        top: 100px;
        left: 10;
       
        width: 200px;
    }

    .button-list-connection-suggest { 
        display: none;
    }
}


/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .list-item-text {
       display: block;
        font-weight: bold;
        font-size: 16px;
        height: 0px;
    }

    .button-list-connection {
       
        position: relative;
        top: 0;
        width: 100%;
    }

    .button-list-connection-suggest {
        display: block;
    }

    .menu-list-connection-suggest {
        display: none;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    .button-list-connection {
        position: relative;
        margin: 0 0 0 0;
        width: 100%;
        text-align: right;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
    
}