/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); */

.list-box {
    
   margin: 0 0 0 -30px;
   

}

.list-box:hover{
    background-color: #F1F1F3;
}

.list-item-text{
    
}

.list-item-text .title {
   
    /* font-family: "Figtree", sans-serif; */
    font-weight: 400 normal;
    font-size: 14px;
    line-height: 21px;
}

.list-item-text .title .name {
    /* font-family: "Figtree", sans-serif; */
    font-weight: 700 normal;
    font-size: 16px;
    line-height: 21px;

}

.list-item-text .subtitle {
    /* font-family: "Figtree", sans-serif; */
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}


/* Default: Extra-small devices such as small phones (less than 640px) */
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 320px) {

    .list-item-text .title {
        margin-top: 0px; 
    }
  
}