.card-news-thumb {
    width: 100%;
    max-width: 380px;
    height: 222px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    border-radius: 8px;
    
}

.card-news-thumb img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card-news-thumb:hover img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}